<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <!-- <div class="ion-padding-vertical" (resized)="onResized12($event)">
          <h3>Participación por Hora</h3>
          <app-graphics type="line-chart" [options]="lines" [results]="poll" [view]="view"></app-graphics>
        </div> -->
      </ion-col>
      <ion-col size="6">
        <pre><code [highlight]="poll | json"></code></pre>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6">
        <div class="ion-padding-vertical" (resized)="onResized6($event)">
          <h3>Participación por Centro Electoral</h3>
          <app-graphics type="bar-horizontal" [options]="bars" [results]="global" [view]="view1"></app-graphics>
        </div>
      </ion-col>
      <ion-col size-md="6">
        <div class="ion-padding-vertical">
          <h3>Abstención</h3>
          <div class="circle {{class.circle}}">
            <p class="text">{{ abstencion }}%</p>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
